<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/estilos.css">
  <link rel="icon" href="/img/icon.ico">
  <meta charset="utf-8">
  <title>Rescate Patitas</title>
</head>

<body>
  {{#if persona}}
  <header>
    <div>
      <a href="index"> <img src="img/logo.png" alt="logo-header"> </a>
    </div>
    <div class="espacio-header"></div>
    <div>
      <nav class="main-nav">
        <ul>
          <li><a href="/usuario/{{persona.id}}">Perfil</a></li>
          <li> Acciones
            <ul id="menu_desplegable">
              <li><a href="/intencion_adopcion">Suscribirse a Adopciones</a></li>
              <li><a href="/mascota_perdida">Informar Mascota Perdida</a></li>
              <li><a href="/dar_en_adopcion">Dar en Adopcion</a></li>
            </ul>
          </li>
          <li><a href="/organizaciones">Organizaciones</a></li>
          <li><a href="/mascotas">Tus Mascotas</a>
          <li><a href="/logout">Cerrar Sesion</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-container">
    <div class="form-container">
      <div class="form-title-container">
        <h3>Mascota</h3>
      </div>
      <form class="" {{#if mascota}} action="/mascota/{{mascota.id}}" method="post" {{else}} action="/mascota" method="post" {{/if}}>
        <div class="grid-item">
          <label for="">Sexo</label>
          <label for="" style="font-weight: bold;">{{mascota.sexo}}"</label>
        </div>

        <div class="grid-item">
          <label for="">Nombre</label>
          <label for="" style="font-weight: bold;">{{mascota.nombre}}</label>
        </div>

        <div class="grid-item">
          <label for="">Apodo</label>
          <label for="" style="font-weight: bold;">{{mascota.apodo}}</label>
        </div>

        <div class="grid-item">
          <label for="">Edad aproximada</label>
          <label for="" style="font-weight: bold;">{{mascota.edad}}</label>
        </div>

        <div class="grid-item">
          <label for="">Tipo</label>
          <label for="" style="font-weight: bold;">{{mascota.tipo}}</label>
        </div>

        <div class="grid-item">
          <label for="">Descripcion física</label>
          <label for="" style="font-weight: bold;">{{mascota.descripcion}}</label>
        </div>

        <div class="grid-item">
          <label for="">Características</label>
        </div>

        <div class="grid-item">
          <label for="myfile">Fotos:</label>
        </div>

        <div class="grid-item" style="visibility:hidden;">
          <input type="text" name="" value="" class="text-input">
        </div>
      </form>
    </div>
  </div>

  {{else}}
  <header>
    <div>
      <a href="index"> <img src="img/logo.png" alt="logo-header"> </a>
    </div>
    <div class="espacio-header"></div>
    <div>
      <nav class="main-nav">
        <ul>
          <li><a href="/usuarios">Usuarios</a></li>
          <li><a href="/organizaciones">Organizaciones</a></li>
          <li><a href="/logout">Cerrar Sesion</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main_container">
    <div class="form-title-container">
      <h3>El admin no tiene mascotas :(</h3>
    </div>
  </div>

  {{/if}}
</body>

</html>